body {
  margin: 0;
  font-family: Tahoma, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 10px;
  text-align: justify;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  font-weight: 100;
}

.grid-container {
  display: grid;
  /* width: 100%; */
  height: 100vh;
  grid-template-rows: 60px auto auto auto auto 40px;
  grid-template-columns: 100vw;
  justify-content: space-around, space-around, space-evenly;
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
grid-template-areas:
  ' nav '
  ' header '
  ' main '
  ' second '
  ' third '
  ' footer ';
  grid-gap: 0;
}

.grid-header, .grid-main, .grid-second, .grid-third {
  padding: 0 32px;
}

.grid-nav, .grid-footer {
  background-color: rgb(135, 35, 30);
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID NAV          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/


.grid-nav { 
  grid-area: nav;
  width: 100vw;
  text-align: right;
  /* padding-top: 30px; */
}

.grid-nav > h1 {
  text-align: left;
  position: absolute;
  margin-block-start: 0em;
  margin-block-end: 0em;
  z-index: 1;
  color: white;
  padding: 12px 32px;
}

.navBox {
  width: auto;
  padding: 21px;
}

.navBtn {
  font-size: .8rem;
  letter-spacing: .1rem;
  margin: 20px;
  /* vertical-align: center; */
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID HEADER        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-header { grid-area: header }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID MAIN         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-main { grid-area: main }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID SECOND        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-third { grid-area: second }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID THIRD        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-third { grid-area: third }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID FOOTER        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-footer { 
  grid-area: footer;
  bottom: 0;
  margin-top: 20px;
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        FLEX BOX          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


.flex-container > section, .sciWeek-container > section {
  /* text-align: center; */
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 2px 2px 40px 2px rgb(0,0,0,.1);
}

.flex-container > section {
  margin: 10px;
  width: 350px;
  height: 300px;
  transition: all .3s;
}

.flex-container > section:hover {
  transform: scale(1.04);
  transition: all .3s;
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************     USER BABE SCI        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.sciWeek-container {
}

.sciWeek-container > section {
  float: left;
  /* padding: 10px; */
    /* box-shadow: 2px 2px 4px 2px #000; */
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    SQUARE DUAL BLOCK     ***************************************/
/***************************************        HORIZONAL         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.image, .title{
  position: relative;
  background-color: white;
  width: 350px;  
}

.image {
  height: 200px;
  border-radius: 5px 5px 0 0;
  border-left: 1px solid rgb(0,0,0,.1);
  border-top: 1px solid rgb(0,0,0,.1);
  border-right: 1px solid rgb(0,0,0,.1);
  overflow: hidden;
}
.image > a > img {
  width: 100%;
  margin-top: -50px;
  border-radius: 5px 5px 0 0;

}

.title {
  height: 100px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(0,0,0,.1);
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************   RECTANGLE DUAL BLOCK   ***************************************/
/***************************************        VERTICLE          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.content, .photo {
  position: relative;
  height: 150px;
  display: inline-block;
}

.content {
  max-width: 300px;
  overflow: hidden;
}

.photo {
  width: 200px;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
.photo > img {
  width: 100%;
  /* height: 220px */
}

.babeSci {
  /* display: inline-block; */
  width: 500px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(0,0,0,.1);
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       LOGIN PAGE         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

 .enter {
   text-align: center;
 }