/* background-color: rgb(135, 35, 30); */



body {
  margin: 0;
  font-family: Tahoma, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 10px;
  text-align: justify;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  font-weight: 100;
  display: block;
  font-size: 1.7rem;
  margin-block-start: 0em;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
}



.grid-container {
  display: grid;
  /* width: 100%; */
  height: 100vh;
  grid-template-rows: 60px auto auto auto auto 100px;
  grid-template-columns: 40vw 20vw 40vw;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
grid-template-areas:
  ' title nav nav '
  ' header header bio '
  ' main main main '
  ' second second second '
  ' third third third '
  ' footer footer footer ';
  grid-gap: 0;
}

.grid-header, .grid-bio, .grid-main, .grid-second, .grid-third {
  padding: 32px;
  /* margin: 32px 0; */
}

.grid-nav, .grid-title, .grid-header, .grid-bio, .grid-main, .grid-second, .grid-third  {
  /* background-color: rgb(135, 35, 30); */
  border-bottom: 1px lightgray solid;
  /* padding: 20px 0; */
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID TITLE         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-title {
  grid-area: title;
  width: 40vw
}

.grid-title > h1 {
  text-align: left;
  position: absolute;
  margin-block-start: 0em;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  z-index: 1;
  color: rgb(135, 35, 30);
  padding: 12px 32px;
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID NAV          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-nav { 
  grid-area: nav;
  width: 60vw;
  text-align: right;
  /* padding-top: 30px; */
}

.navBox {
  width: auto;
  padding: 21px;
}

.navBox > a {
  font-size: .8rem;
  letter-spacing: .1rem;
  margin: 20px;
  /* vertical-align: center; */
  color: rgb(135, 35, 30);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID HEADER        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-header { grid-area: header }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID BIO          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-bio { 
  grid-area: bio;
  text-align: center; 
  /* padding-right: 32px; */
}

.grid-bio > img {
  width: 20vw;
  height: auto;
}

.grid-bio > section > a > img  {
  width: 40px;
  margin: 5px;
  transition: all .3s;
}

.grid-bio > section > a > img:hover  {
  transform: scale(1.1);
  transition: all .3s;
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID MAIN         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-main { grid-area: main }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID SECOND        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-second { grid-area: second }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID THIRD        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.grid-third { grid-area: third }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID FOOTER        ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.grid-footer { 
  grid-area: footer;
  bottom: 0;
  margin-top: 20px;
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       CONTAINERS         ***************************************/
/***************************************       BOX SHADOW         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.flex-container > section, .header-container > section {
  border-radius: 5px;
  box-shadow: 2px 2px 40px 2px rgb(12,12,12,.1);
  transition: all .3s;
} 

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        FLEX BOX          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
}

.flex-container > section {
  margin: 10px;
  width: 350px;
  height: 300px;
  
  font-size: 14px;

}

.flex-container > section:hover, .header-container > section:hover {
  transform: scale(1.04);
  transition: all .3s;
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    HEADER CONTAINER      ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.header-container > section {
  float: left;
  font-size: 14px;
  /* padding: 10px; */
    /* box-shadow: 2px 2px 4px 2px #000; */
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    SQUARE DUAL BLOCK     ***************************************/
/***************************************        HORIZONAL         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
.image, .title{
  position: relative;
  background-color: white;
  
}

.image {
  width: 350px;  
  height: 200px;
  border-radius: 5px 5px 0 0;
  border-left: 1px solid rgb(0,0,0,.1);
  border-top: 1px solid rgb(0,0,0,.1);
  border-right: 1px solid rgb(0,0,0,.1);
  overflow: hidden;
}
.image > img {
  width: 100%;
  margin-top: -50px;
  border-radius: 5px 5px 0 0;
  transition: all .3s;

}

.title {
  width: 330px;  
  height: 80px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(0,0,0,.1);
  transition: all .3s;
}


/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************   RECTANGLE DUAL BLOCK   ***************************************/
/***************************************        VERTICLE          ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.content, .photo {
  position: relative;
  height: 200px;
  display: inline-block;
}

.content {
  width: 500px;
  overflow: hidden;
  color: white;

  /* padding-left: 32px; */
}

.content > h1 {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.content > span {
  padding: 0 10px;
}

.photo {
  width: 200px;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
.photo > img {
  height: 100%;
}

.babeSci {
  width: 700px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid rgb(0,0,0,.1); */
  /* background-color: rgb(135, 35, 30); */
  background-image: linear-gradient(to bottom right, rgb(135, 35, 30), rgb(135, 35, 30),  rgb(179, 48, 41, .95), rgb(135, 35, 30), rgb(135, 35, 30));
}

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       LOGIN PAGE         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

 .enter {
   text-align: center;
 }




/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    HORIZONTAL SCROLL     ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

 .scroll {
  bottom: 0;
  /* margin: -150px 0 0 0; */
  width: 95vw;
  height: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll > div { 
  width: 2610px; 
  position: relative;
  display: inline-block;
}

.scroll > div > section {
  float: left;
  padding: 0 20px 20px 0;
  transition: all .3s;
  /* z-index: 1000000000000000 !important; */
  position: relative;
}
.scroll > div > section:hover {
  color: blue;
}
.scroll > div > section > div:hover {
  background-color: rgb(0,0,0,.5);
  transition: all .3s;
}
.scroll > div > section > a > div > img:hover {
  /* background-color: black; */
  /* transform: scale(1.04); */
  width: 120%;
  transition: all .3s;
}







/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************         MOBILE           ***************************************/
/***************************************       MEDIA QUERY        ***************************************/
/***************************************        MAX 650PX         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
@media screen and (max-width: 650px) {
/********************************************************************************************************/
/**************************************** CHANGE DIMENSIONS - VW ****************************************/
/********************************************************************************************************/
  html {
    font-size: 12px;
  }


  .grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 60px 40px auto auto auto auto auto 100px;
    grid-template-columns: 100vw;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    grid-gap: 0;
    /* background-color: #2196F3; */
    padding: 0;
  grid-template-areas:
    ' title ' 
    ' nav '
    ' bio '
    ' header '
    ' main '
    ' second '
    ' third '
    ' footer ';
    grid-gap: 0;
  }

  .grid-header, .grid-bio, .grid-main, .grid-second, .grid-third {
    padding: 10px 5vw;
    /* margin: 32px 0; */
  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************       GRID TITLE         ***************************************/
/***************************************       MEDIA QUERY        ***************************************/
/***************************************        MAX 650PX         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
  .grid-title {
    /* grid-area: title; */
    width: 100vw
  }

  .grid-title  > h1 {
    font-size: 24px
  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        GRID NAV          ***************************************/
/***************************************       MEDIA QUERY        ***************************************/
/***************************************        MAX 650PX         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
  .grid-nav { 
    /* grid-area: nav; */
    width: 100vw;
    /* text-align: right; */
    /* padding-top: 30px; */
  }
  .navBox {
    width: auto;
    padding: 21px 0;
    text-align: center;
  }
  
  .navBox > a {
    font-size: .8rem;
    letter-spacing: .1rem;
    margin: 10px;
    /* vertical-align: center; */
    color: rgb(135, 35, 30);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************        FLEX BOX          ***************************************/
/***************************************       MEDIA QUERY        ***************************************/
/***************************************        MAX 650PX         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
  .flex-container {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: left; */

  }

  .flex-container > section {
    margin: 2vw 0;
    /* width: 350px; */
    height: 298px;
    /* padding: 5vw 0; */
    /* font-size: 14px; */

  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************   RECTANGLE DUAL BLOCK   ***************************************/
/***************************************        VERTICLE          ***************************************/
/***************************************       MEDIA QUERY        ***************************************/
/***************************************        MAX 650PX         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    HEADER CONTAINER      ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

.header-container > section {
  float: none;
  font-size: 12px;
  width: 90vw;
  /* padding: 10px; */
    /* box-shadow: 2px 2px 4px 2px #000; */
}
  .content, .photo {
    position: absolute;
    /* position: relative; */
    /* height: 200px; */
    /* display: inline-block; */
  }

  .content {
    width: 90vw;
   z-index: 1;
   border-radius: 5px;
   background-image: linear-gradient(to bottom right, rgb(135, 35, 30, .9), rgb(135, 35, 30, .8 ),  rgb(179, 48, 41, .5), rgb(135, 35, 30, .8), rgb(135, 35, 30, .9));
    /* overflow: hidden; */
    /* color: white; */

    /* padding-left: 32px; */
  }

  .content > h1 {
    /* padding: 10px 10px 0 10px; */
    /* margin-bottom: 10px; */
  }

  .content > span {
    /* padding: 0 10px; */
  }

  .photo {

    width: 90vw;
    border-radius: 5px;
    /* overflow: hidden; */
  }
  .photo > img {
    /* height: 100%; */
    width: 100%;
    height: auto;
  }

  .babeSci {
    width: 90vw;
    /* margin-left: 10vw; */
    /* height: 200px; */
    /* background-color: white; */
    border-radius: 5px;
    /* background-image: linear-gradient(to bottom right, rgb(135, 35, 30), rgb(135, 35, 30),  rgb(179, 48, 41, .95), rgb(135, 35, 30), rgb(135, 35, 30)); */
  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    SQUARE DUAL BLOCK     ***************************************/
/***************************************        HORIZONAL         ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/
  .image, .title{
    /* position: relative; */
    /* background-color: white; */
    
  }

  .image {
    width: 90vw;  
    height: 200px;
    /* border-radius: 5px 5px 0 0; */
    /* border-left: 1px solid rgb(0,0,0,.1); */
    /* border-top: 1px solid rgb(0,0,0,.1); */
    /* border-right: 1px solid rgb(0,0,0,.1); */
    /* overflow: hidden; */
  }
  .image > img {
    width: 90vw;
    /* margin-top: -50px; */
    /* border-radius: 5px 5px 0 0; */
    /* transition: all .3s; */

  }

  .title {
    width: 80vw;  
    height: 80px;
    padding: 2vw 5vw;
    /* border-radius: 0 0 5px 5px; */
    /* border: 1px solid rgb(0,0,0,.1); */
    /* transition: all .3s; */
  }

/********************************************************************************************************/
/***************************************                          ***************************************/
/***************************************    HORIZONTAL SCROLL     ***************************************/
/***************************************                          ***************************************/
/********************************************************************************************************/

  .scroll {
    /* bottom: 0; */
    width: 100vw !important;
    height: 320px;
    margin: 0 !important;
    z-index: 1;
    position: relative;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
  }

  .scroll > div { 
    width: 675vw; 
    /* position: relative; */
    /* display: inline-block; */
  }
}